/* Make all font colors white */
* {
    color:#ffffff
}

header {
    padding: 10px;
    font-family:  'Lucida Sans', Arial, sans-serif;
    background-color: #58c19e;
    color: #ffffff;
    border: dashed #e7f6f1;
}

nav {
    padding-top: 10px;
    margin-right: 20px;
    
}
/* sets nav to the right side */
nav ul {
    list-style-type: none;
    display: inline-block;
    color: #ffffff;
    float: right;
}
/* sets nav list in horizontal direction */
nav ul li {
   
    margin-left: 25px;
    display: inline-block;
    color: #ffffff;
}

nav h1 {
    display:inline-block

}

/* sets headshot img to the left and makes it circular*/
.headshot {
    height: 20%;
    width: 20%;
    border-radius: 50%;
    padding-top: 15px;
    float: left;
   
}
/* sets horiseon thumbnail size */
.horiseon {
    height: 50%;
    width: 50%;
}
/* set img size for remaining images */
img {
    height: 35%;
    width: 35%;
    padding-top: 15px;

}
/* makes hyplerlinks white */
a {
    color: #ffffff;
}

body {
    background-color: #b7e4d5;
}
/* sets format for main sections */
main section {
border: solid #e7f6f1;
padding: 5px;
margin: 5px;
float: right;
background-color: #88d3ba;
}

/* separates contact info from other body sections/ aligns */
footer {
    padding: 30px;
    clear: both;
    text-align: center;
}